<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poo.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,282},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>poo_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,283},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>poo_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,239},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>trix_backleg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,374},{161,106}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,106}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>trix_backleg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{115,126}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,126}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>trix_body0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{278,149}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{278,149}}</string>
                <key>sourceSize</key>
                <string>{294,207}</string>
            </dict>
            <key>trix_body0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{294,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{294,139}}</string>
                <key>sourceSize</key>
                <string>{294,207}</string>
            </dict>
            <key>trix_body0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,207}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{230,207}}</string>
                <key>sourceSize</key>
                <string>{294,207}</string>
            </dict>
            <key>trix_frontpaw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,211},{161,87}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,87}}</string>
                <key>sourceSize</key>
                <string>{161,109}</string>
            </dict>
            <key>trix_frontpaw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,130},{107,109}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{161,109}</string>
            </dict>
            <key>trix_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,368},{152,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,137}}</string>
                <key>sourceSize</key>
                <string>{152,137}</string>
            </dict>
            <key>trix_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,282},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1473361cdf4a245a8de08316298d80b9$</string>
            <key>textureFileName</key>
            <string>tex1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
