<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>poo_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,246},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>poo_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,223},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>trix_backleg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{81,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>trix_backleg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,152},{59,63}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>trix_body0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{139,76}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{139,76}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>trix_body0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{147,70}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>trix_body0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,104},{115,104}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,104}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>trix_frontpaw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,57},{81,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,55}</string>
            </dict>
            <key>trix_frontpaw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,217},{55,55}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,55}</string>
            </dict>
            <key>trix_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>trix_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5c0d0acf8f4673487f5f87664cb7850$</string>
            <key>textureFileName</key>
            <string>tex1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
